POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET=sahil_ko_secret
JWT_ALGORITHM=HS256

NEPSE_PRICE_VOLUME_URL_TEMPLATE=http://127.0.0.1:8000/PriceVolumeHistory?symbol={symbol}
NEPSE_FETCH_ALL_ACTIVE_BANKS=false
NEPSE_FORCE_ACTIVE_BANK_CONTEXT=false
AUTOTFT_INCLUDE_ACTIVE_CONTEXT=false
NEPSE_PREFER_LOCAL_DATA=false
NEPSE_POLICY_RATE=4.5
TFT_INFERENCE_DEVICE=cpu
